.jobPostingHeader__container {
  width: 730px;
  height: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  margin-top: -2rem;
  border-radius: 6px;
  background-color: var(--color-white);
}

.jobPostingHeader-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 0px 0px 0px 6px;
}

.jobPostingHeader-logo img {
  width: 81px;
  height: 23px;
}

.jobPostingHeader-company {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 3rem;
}

.jobPostingHeader-company h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--color-very-dark-blue);
}

.jobPostingHeader-company p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-dark-gray);
}

.jobPostingHeader__container button {
  width: 147px;
  height: 48px;
  margin-left: auto;
  margin-right: 2.6rem;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
  border-style: none;
  background-color: rgb(89, 100, 224, 0.1);
  color: var(--color-violet);
}

.jobPostingHeader__container button:hover {
  cursor: pointer;
  background-color: rgb(89, 100, 224, 0.35);
}
