:root {
  --color-violet: #5964e0;
  --color-light-violet: #939bf4;
  --color-very-dark-blue: #19202d;
  --color-midnight: #121721;
  --color-white: #ffffff;
  --color-light-gray: #f4f6f8;
  --color-gray: #9daec2;
  --color-dark-gray: #6e8098;
}

.light-theme {
  --bg-primary: var(--color-light-gray);
  --bg-secondary: var(--color-white);

  --text-primary: var(--color-very-dark-blue);
  --text-secondary: var(--color-dark-gray);

  --button-primary: rgb(89, 100, 224, 0.1);
  --button-secondary: rgb(89, 100, 224, 0.35);

  --button-text-primary: var(--color-violet);
}

.dark-theme {
  --bg-primary: var(--color-midnight);
  --bg-secondary: var(--color-very-dark-blue);

  --text-primary: var(--color-white);
  --text-secondary: var(--color-dark-gray);

  --button-primary: rgba(48, 54, 66, 255);
  --button-secondary: rgba(83, 88, 98, 255);

  --button-text-primary: var(--color-white);
}
